[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
.vs/
.idea/
.vscode/
*.user
*.suo
*.nupkg
*.snupkg
*.dll
*.exe
*.pdb
*.tlog
*.log
*.tmp
Thumbs.db
.DS_Store

# 用户运行时文件
/MPQEditor.exe
/SFmpq.dll
/Files/
/Scripts/
*.w3x
*.w3m
